/* CSS Document */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0; }

a, a:hover, a:visited, a:link, a:active {
  text-decoration: none; }

html {
  scroll-behavior: smooth; }

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

a {
  color: #333; }

img {
  width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.t-white {
  color: white; }

.t-black {
  color: black; }

.t-grey {
  color: #989898; }

.thumb {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.hidden {
  display: none !important; }

.fix-text {
  display: -webkit-box;
  line-height: 1.3;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

section {
  background-color: #f1f1f1; }
  section h2 {
    color: blue;
    margin: 0; }
  section h3 {
    color: blue;
    margin: 0; }
  section h4 {
    color: blue;
    margin: 0; }

/*----------------------------------------
				  Header
----------------------------------------*/
.header .container {
  max-width: 1170px;
  margin: 0 auto; }
  .header .container .header-top {
    padding: 54px 0; }
    .header .container .header-top .header-top-right .input-group {
      width: 250px; }
      .header .container .header-top .header-top-right .input-group input {
        width: 180px; }
  .header .container .header-list {
    padding: 18px 0; }
    .header .container .header-list .header-list_item {
      border-right: 1px solid #eaeaea;
      position: relative; }
      .header .container .header-list .header-list_item:last-child {
        border: none; }
      .header .container .header-list .header-list_item:hover .header-list_item_drop {
        display: block; }
      .header .container .header-list .header-list_item .header-list_item_name {
        display: block;
        padding: 10px 35px; }
      .header .container .header-list .header-list_item .header-list_item_drop {
        position: absolute;
        display: none;
        z-index: 99;
        padding: 20px 0;
        background-color: white;
        min-width: 155%; }
        .header .container .header-list .header-list_item .header-list_item_drop li a {
          display: block;
          padding: 15px 40px; }

/*----------------------------------------
				End-Header
----------------------------------------*/
.cate-collection {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 45px;
  margin-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px black solid; }
  .cate-collection_item {
    position: relative; }
    .cate-collection_item p {
      position: absolute;
      color: white;
      padding-left: 19px;
      padding-bottom: 10px;
      left: 0px;
      bottom: 50px;
      border-bottom: 1px white solid; }

.featured-product h4 {
  padding: 40px 0; }
.featured-product h5 {
  max-width: 800px;
  margin: 0 auto; }

.product-collection {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 110px);
  grid-gap: 10px 10px;
  margin-bottom: 100px; }
  .product-collection-item {
    padding: 50px; }
    .product-collection-item h3 {
      font-size: 20px; }
  .product-collection-item:nth-child(1) {
    grid-row: 1/4;
    background-color: #f9eeec; }
  .product-collection-item:nth-child(2) {
    grid-row: 1/5;
    background-color: #ecfbf8; }
  .product-collection-item:nth-child(3) {
    grid-row: 4/8;
    background-color: #ecfbf8; }
  .product-collection-item:nth-child(4) {
    grid-row: 5/8;
    background-color: #f9eeec; }

.access-btn i {
  font-size: 11px; }

.banner {
  max-width: 1170px;
  margin: 0 auto;
  padding: 85px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f4f4f4;
  margin-bottom: 100px; }
  .banner h3 {
    padding: 40px 0;
    font-size: 14px; }
  .banner h1 {
    font-size: 30px; }
  .banner .access-btn {
    border: 1px solid black;
    padding: 20px 48px;
    margin: 0 auto; }

.list-product {
  max-width: 1170px;
  margin: 0 auto; }

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:hover {
  border-color: #fff #fff black;
  border-bottom: 3px solid black; }

.nav-tabs {
  border-bottom-color: #495057;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.nav-tabs .nav-link:hover {
  border-color: #ccc #ccc #495057;
  background-color: #eee; }

.nav-tabs .nav-link.active:hover {
  background-color: transparent; }

.nav-tabs .nav-link {
  margin-right: 4px;
  color: black; }

.tab-pane .access-btn {
  border: 1px solid black;
  padding: 20px 48px; }

.tab-pane_main {
  display: grid;
  padding-top: 60px;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 33px;
  grid-row-gap: 13px; }
  .tab-pane_main .tab-pane_item_image {
    width: 100%;
    height: 480px;
    background-color: #f6f6f6;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .tab-pane_main .tab-pane_item_image .access-btn {
      background-color: black;
      color: white;
      padding: 21px 44px;
      display: none;
      -webkit-transition: 0.2s;
      transition: 0.2s; 
    }
    .tab-pane_main .tab-pane_item_image:hover {
      background-color: white; 
    }
    .tab-pane_main .tab-pane_item_image:hover .access-btn {
      display: block;
      -webkit-transition: 0.2s;
      transition: 0.2s; 
    }
    .tab-pane_main .tab-pane_item_info {
      text-align: center;
      padding: 28px 0;
   }
    .tab-pane_main .tab-pane_item_info h3 {
      font-size: 15px; }
      .tab-pane_main .tab-pane_item_info h3 a {
        color: black; }
    .tab-pane_main .tab-pane_item_info h4 {
      font-size: 15px; }
      .tab-pane_main .tab-pane_item_info h4 a {
        color: #777777; }
    .tab-pane_main .tab-pane_item_info p {
      font-size: 17px; }

.comment-slide {
  max-width: 1170px;
  margin: 0 auto;
  padding: 100px 0;
  margin-top: 100px; }
  .comment-slide .comment-slide_main .comment-slide_main_image {
    width: 100px;
    margin: 0 auto;
    overflow: hidden; }
    .comment-slide .comment-slide_main .comment-slide_main_image img {
      border-radius: 50%; }

.latest-news {
  width: 100%;
  padding-bottom: 50px;
  background-color: #fafafa; }
  .latest-news .featured-product {
    padding: 100px 0 56px 0; }
  .latest-news .latest-news_main {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 70px; }
    .latest-news .latest-news_main .latest-news_main_item {
      position: relative; }
      .latest-news .latest-news_main .latest-news_main_item_time {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: absolute;
        top: 30px;
        left: 40px;
        padding: 4px 20px;
        background-color: black;
        color: white;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .latest-news .latest-news_main .latest-news_main_item_time p {
          font-size: 25px;
          text-align: center; }
        .latest-news .latest-news_main .latest-news_main_item_time p:last-child {
          font-size: 18px; }
      .latest-news .latest-news_main .latest-news_main_item_info {
        position: relative;
        padding: 0 40px;
        width: 100%;
        height: 280px; }
        .latest-news .latest-news_main .latest-news_main_item_info .latest-news_main_item_detail {
          border: 3px #f2f2f2 solid;
          padding: 56px 40px 25px 40px;
          position: absolute;
          width: 470px;
          top: -40px; }

/*--------------------------------------
				footer
---------------------------------------*/
footer {
  background-color: #111111;
  padding: 120px 0; }
  footer .footer-main {
    width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 130px; }
    footer .footer-main_quicklinks .container .row a {
      color: #989898; }
      footer .footer-main_quicklinks .container .row a:hover {
        color: white; }
    footer .footer-main_connect_icon a {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 2px solid #989898; }
      footer .footer-main_connect_icon a i, footer .footer-main_connect_icon a span {
        color: #989898; }
      footer .footer-main_connect_icon a:hover {
        background-color: white;
        border-color: white; }
        footer .footer-main_connect_icon a:hover i, footer .footer-main_connect_icon a:hover span {
          color: black; }
    footer .footer-main_connect_pay a {
      display: block;
      margin: 0 14px; }
      footer .footer-main_connect_pay a:first-child {
        margin-left: 0px; }
      footer .footer-main_connect_pay a:last-child {
        margin-right: 0px; }
      footer .footer-main_connect_pay a i {
        font-size: 46px;
        color: #989898; }
      footer .footer-main_connect_pay a:hover i {
        color: white; }

/*# sourceMappingURL=style.css.map */